A.  Create an HTML-based résumé that includes each of the following HTML elements, in no particular order:

•   Basic Structure:

-   HTML X

-   head X

-   title X

-   body X

•   Content Organization:

-   header X

-   nav X

~   links to other documents in the portfolio X

-   main

-   section

-   footer

-   article

•   Text and Content:

-   at least three different heading elements (h1–h6)

-   span

-   paragraph

-   line break

-   horizontal rule

-   div (to contain the current date from JavaScript)

•   Links and Lists:

-   at least one hyperlink

-   at least one ordered or unordered list

•   Tables

-   At least 1 HTML table, with a caption, and at least four columns and three rows

•   Semantic and Miscellaneous

-   strong

-   em

•   Interactive and Scripting

-   script

~   Inline JavaScript to populate the date (within div defined above in Text and Content)

~   Inline JavaScript to write an appropriate message or value to the console

 

Note: A fictional or hypothetical resume is acceptable for this task.

 

B.  Create an HTML-based cover letter page that includes each of the following HTML elements, in no particular order:

 

Note: A hypothetical cover letter is acceptable for this task.

 

•   Basic Structure:

-   HTML

-   head

-   title

-   body

•   Content Organization:

-   header

-   nav

~   links to other documents in the portfolio

-   main

-   section

-   footer

-   article

•   Text and Content:

-   span

-   paragraph or paragraphs

-   horizontal rule

-   strong

-   em

-   mark

 

C.  Create an HTML-based career goals document that shows your HTML and CSS skills that includes each of the following HTML elements, in no particular order:

•   Basic Structure:

-   HTML

-   head

-   title

-   body

•   Content Organization:

-   header

-   nav

~   links to other documents in the portfolio

-   main

-   footer

•   Text and Content:

-   *Locally sourced image of your choice (keep it professional, nothing inappropriate)

-   *Locally sourced audio of your choice (keep it professional, nothing inappropriate)

-   *Locally sourced video of your choice (keep it professional, nothing inappropriate)


*Locally sourced means that the multimedia files should be included with your submission for evaluation and the appropriate relative URLs should be used within your HTML code to display the multimedia files in the browser view. No links to online resources allowed.


-   HTML Form (to gather user information)

 

Required Form Fields (with applicable attributes [i.e., name, id, etc.])


Note: the required form action attribute value should be https://wp.zybooks.com/form-viewer.php


~   first name

~   last name

~   company name

~   email address (type=email)

~   phone number (type=tel)

~   message (text area)

~   best contact time (radio buttons)

    •   display values should be: a.m., p.m., anytime

~   select list (single option)

 •   display options should be: phone, email, text

~   submit button (type=submit)